footer{
  height: 247px;
  position: relative;
  
  font-size: 50px;
  color: #fff;
  background: linear-gradient(45deg, #3695ff 15%,
                                     #469dff 15%, #469dff 30%,
                                     #4097ff 30%,#4097ff 45%,
                                     #3c8efe 45%,#3c8efe 60%,
                                     #367dfe 60%);


  .wraper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

  }
  span{
      font-weight: 200;
      float: left;
  }
  strong{
    font-weight: 700;
  }

  .bg-button{
      float: right;
      
  }
  .wraper::after {
    content: "";
    clear: both;
    display: table;
}
}

