.popUpCooki{
  width: 2000px;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  top: 0;
  left: 0;
  
  background-color: #194277;
  color: #fff;

  font-size: 14px;
  
  
}
.center-block{
  width: 509px;
  margin: 0 auto;
  height: 72px;

  line-height: 72px;
  span{
    margin-right: 47px;
  }
}