.popUpCooki{
  width: 2000px;
  height: 72px;
  position: absolute;
 
  top: 0;
  left: 0;
  z-index: 1;

  background-color: #194277;
  color: #fff;
  font-size: 14px; 
}
.center-block{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 509px;
  line-height: 30px;
  
 

 
  span{
    float: left;
  }
  .sm-button{
    float: right;
  }
  .center-block::after {
    content: "";
    clear: both;
    display: table;
}

}